@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: theme(colors.bg);
  --c-bg: theme(colors.surface);
  --c-text: theme(colors.text);
  --c-muted: theme(colors.muted);
  --c-accent: theme(colors.accent);
}

@layer base {
  main > *:first-child {
    @apply pt-24;
  }

  .prose a {
    @apply decoration-accent/40 hover:decoration-accent transition-colors
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
