---
const today = new Date();
---

<footer class="text-center">
  <hr class="mb-4 border-rosePine-overlay" />
  <p class="mb-4 text-rosePine-muted">
    &copy; {today.getFullYear()} Jakob Moen Bekken | All rights reserved.
  </p>
</footer>
