---
import HeaderLink from './HeaderLink.astro';
---

<header class="px-4">
	<nav class="flex items-center justify-between h-16">
		<div class="text-lg"><a class="text-rosePine-text py-4 px-2 flex items-center gap-2" href="/"><img src="/logos/logo.svg" alt="Logo" class="h-6"><span>Jokko</span></a></div>
		<div class="internal-links flex">
			<HeaderLink href="/" class="text-rosePine-text py-4 px-2 border-b-4 border-hidden">Home</HeaderLink>
			<HeaderLink href="/blog" class="text-rosePine-text py-4 px-2 border-b-4 border-hidden">Blog</HeaderLink>
			<HeaderLink href="/tech" class="text-rosePine-text py-4 px-2 border-b-4 border-hidden">Tech</HeaderLink>
			<HeaderLink href="/about" class="text-rosePine-text py-4 px-2 border-b-4 border-hidden">About</HeaderLink>
		</div>
	</nav>
</header>

