---
import BaseLayout from "@layouts/BaseLayout.astro";

import Section from "@components/semantics/Section.astro";
import Container from "@components/semantics/Container.astro";
import Prose from "@components/semantics/Prose.astro";
---

<BaseLayout title="Test">
  <Section class="flex min-h-svh items-center">
    <Container>
      <Prose>
        <h1>Index</h1>
        <p>Ongoing work, notes, and personal tools.</p>
      </Prose>
    </Container>
  </Section>
</BaseLayout>
