---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4 my-8">

				<h1 class="">Under construction!</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti saepe minus, ratione rem, aperiam odit facere sed non temporibus totam quis fugiat voluptatem pariatur modi consequatur dicta? Quibusdam aliquam fuga animi est fugit et aliquid quasi adipisci recusandae sed alias maiores, dolor impedit inventore. Doloribus rem sunt adipisci praesentium maiores!</p>
				<p>Another test with a <a href="/">link</a> that goes nowhere!</p>
				<h2 class="">Projects</h2>
				<p>I will post my projects here!</p>

				<hr>
				<p>test number 2</p>
				<h2 class="">Projects</h2>
			<h3 class="">Projects</h3>
			<h4 class="">Projects</h4>
			<h5 class="">Projects</h5>
			<h6 class="">Projects</h6>

		</main>
		<Footer />
	</body>
</html>
