---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { getCollection } from 'astro:content';

import fs from "fs";
import path from "path";

const pdfDir = path.resolve("public/studies/math/exams");
const files = fs.readdirSync(pdfDir);


// TODO: Sorting and tags
const pdfs = files.filter((file) => file.endsWith(".pdf"))
				  .map((file) => ({
					name: file,
					url: `/studies/math/exams/${file}`
				  }));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Math Exams" description="Part exams for math courses at UiA Grimstad." />
		<style>
		</style>
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto px-4 my-8">
			<div class="mb-8">
				<div class="title">
					<h1 class="text-rosePine-rose leading-none mb-8">Math Exams</h1>
					<hr />
				</div>
				
				<ul>
					{pdfs.map(pdf => (
					  <li><a href={pdf.url} target="_blank" rel="noopener">{pdf.name}</a></li>
					))}
				</ul>

			</div>
		</main>
		<Footer />
	</body>
</html>
