---
const today = new Date();
---

<footer class="text-center">
  <hr class="border-surface mb-4" />
  <p class="text-muted mb-4 text-xs">
    &copy; {today.getFullYear()} Jakob Moen Bekken | All rights reserved.
  </p>
</footer>
